{% extends "_base.html" %}

{% block main %}

<form method="post" action="/newfund">
  <h3>New Fund</h3>
  {% if error != null %}
  <div class="form-group">
    <p id="error" class="text-danger">{{ error }}</p>
  </div>
  {% endif %}
  <div class="form-group">
    <label>Title</label>
    <input name="title" type="text" class="form-control" placeholder="Title" minlength="1" maxlength="50">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input name="desc" type="text" class="form-control" placeholder="Description" minlength="6" maxlength="200">
  </div>
  <div class="form-group">
    <label>Picture</label>
    <input name="pic" type="text" class="form-control" placeholder="Picture Address" minlength="10" maxlength="200">
  </div>
  <div class="form-group">
    <label>Total Needed</label>
    <input name="total" type="text" class="form-control" placeholder="Total Needed" minlength="1" maxlength="10">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-outline-primary">Submit</button>
  </div>
  </div>
</form>

{% endblock %}
